<% content_for :page_title, 'About Sarah | Who the hell do you think I am?' %>
<h1>I'm Sarah Robin, and I am the World's Okayest Trans</h1>
<h4>This message approved by Sarah Robin</h4>

<%= link_to 'Back', controller: 'pages' %>