<% content_for :page_title, 'About Sarah | Who the hell do you think I am?' %>
<h1>I'm Sarah Robin, and I am the World's Okayest Trans</h1>
<h4>This message approved by Sarah Robin</h4>

<p>
  For development, I commonly work w/ a varied Javascript stack for rapid 
  prototyping and full-stack MVP projects (though a mature, well-maintained 
  JS or TypeScript codebase can be a beautiful thing). I also tinker in 
  Python, love writing Ruby, and I'm learning Rust.
</p>

<p>
  For design, I prefer an empathetic and people-centered approach to 
  product development and user experience, that works towards responsible 
  growth. I want to make a positive impact in people's lives, and that 
  usually involves more listening to feedback than dictating solutions. 
  Design just isn't how it works, its who it works for, as well.
</p>

<p>
  For pretty web things, I use whatever I can get my hands on (canvas, SVG, 
  OpenGL, etc). My current process is to create some kind of simulated life 
  that scurries around, spilling pixels all over a canvas in a beautiful way 
  (my profile's cover image was made this way). My eventual goal is to 
  create simulated life that can judge the spilled pixels better than I can.
</p>

<%= link_to 'Back', controller: 'pages' %>