<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio and professional services for Sarah Robin, a dev and designer based out of Northern CA">
    <meta name="author" content="Sarah Robin">

    <title>Sarah Robin | Design & Engineering</title>

  
    <%# TODO: Old template stuff - to be removed %>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> %>
    <%# <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet"> %>

    <%# Actual styling %>
    <%# TODO: put compiled link back %>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Oswald:200,300,400,500,600,700|Fira+Sans:300,400,500" rel="stylesheet">
  </head>

  <body>
    <%= if Map.has_key?(@conn.assigns, :navbar) do %>
      <%= render "navbar.html", conn: @conn %>
    <% end %>

    <main role="main">
      <%= if Map.has_key?(@conn.assigns, :sidebar) do %>
        <%= render "sidebar.html", conn: @conn %>

        <div class="main">
          <%= render @view_module, @view_template, assigns %>
        </div>
      <% else %>
        <%= render @view_module, @view_template, assigns %>
      <% end %>
    </main>

    <div class="alert-container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <%= render "footer.html", conn: @conn %>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>