/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
/* Type */
html, body {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', 'Segoe UI', Roboto, Arial, sans-serif;
  font-size: 2vw;
  line-height: 1.5;
  /* word-spacing: 0.3px; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin-bottom: 1vw;
}
h1, h2 {
  font-family: 'Crimson Text', serif;
}
h3, h4 {
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

p {
  margin: 0 auto;
  margin-bottom: 3vh;
  font-weight: 400;
}
// p + p {
//   text-indent: 0.7em;
// }

blockquote p {
  /* Only Safari gets the fun type nerd stuff :( */
  hanging-punctuation: first;
}

.display-sans {
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.display-serif {
  font-family: 'Crimson Text', serif;
}

section {
  min-height: 85vh;
  // // Horizontal padding in sections is determined by current page width 
  // // minus rough estimate at reasonable measure for body text font-size, 
  // // divided by two since its padding on either side. ch is a problematic
  // // unit, but it sure is handy and lightweight.
  // padding: 10vh calc((100vw - 55ch) / 2);
  background: #eee;

  p span {
    font-weight: 600;
  }
}






.page__home {
  min-height: 100vh;
  min-width: 100vw;
  background: none;
  background-color: #eee;
  background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: bg-move 10s infinite;
  will-change: background-position;
}
@keyframes bg-move {
  0%, 100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
}

.home__splash {
  max-height: 85vh;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.splash__title {
  text-align: center;
}
.splash__title .title__logotype {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 64px;
  letter-spacing: 0.3em;
  margin-bottom: 0.2em;
  margin-top: 10vw;
}
.splash__title .title__subtitle {
  font-weight: 300;
  font-size: 48px;
  font-style: italic;
  word-spacing: 5px;
  padding-bottom: 15px;
  color: whitesmoke;
}

.splash__social-links {
  display: flex;
}
.splash__social-links .social-links__link {
  display: block;
  padding: 0 1em;
}

.home__about {
  display: flex;
  
  .about__details {
    margin-right: 5vw;

    .details__pic {
      border-radius: 100px;
      margin-top: 12px;
    }
  }

  .about__bio {

  }
}

.home__links {
  min-height: 15vh;
  background: none;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

